.homeContainer {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.centerdiv {
  width: 100%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.48);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.branddiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.logindiv {
  display: flex;
  align-items: center;
  background-color: white;
  width: 50%;
  border-radius: 15px;
  margin: 2em;
  flex-direction: column;
  padding: 2em;
}

.brandLogo {
  width: 50px;
  height: 50px;
  margin-bottom: 1em;
}

.brandTitle {
  color: white;
  font-weight: bold;
  font-size: 3em;
  margin: 0;
}

.brandSubtitle {
  color: white;
  font-weight: 300;
  font-size: 2em;
  margin: 0.5em 0;
}

.urldiv {
  background-color: aliceblue;
  padding: 8px;
  border-radius: 20px;
  margin-top: 2em;
}

.exideLogo {
  height: 25px;
  width: 100px;
  margin-top: 1em;
}

.welcomeTitle {
  color: #0D285A;
  font-size: 2em;
  margin-top: 0.2em;
  font-weight: 500;
}

.welcomeSubtitle {
  color: #8F8F8F;
  font-size: 1em;
  margin-top: -1em;
  font-weight: 200;
  text-align: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputField {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin-top: 2em;
}

.errorMessage {
  color: red;
  margin-bottom: 0.5em;
}

.loginPrompt {
  color: #8F8F8F;
  font-size: 1em;
  font-weight: 200;
  margin-top: 1em;
  margin-bottom: 0;
}

.loginLink {
  color: blue;
  font-size: 1em;
  margin-top: 0.5em;
  text-decoration: none;
}

@media (max-width: 768px) {
  .centerdiv {
    flex-direction: column;
  }

  .branddiv, .logindiv {
    width: 100%;
    margin: 0;
    padding: 1em;
  }

  .brandTitle {
    font-size: 2em;
  }

  .brandSubtitle {
    font-size: 1.5em;
  }

  .welcomeTitle {
    font-size: 1.5em;
  }

  .welcomeSubtitle {
    font-size: 0.9em;
  }

  .inputField {
    max-width: 100%;
  }

  .submitButton {
    max-width: 100%;
  }
}
