/* Home.module.css */

/* @font-face {
  font-family: 'customFont';
  src: url('../public/font1/Variable-TT/Glancyr\ Variable-VF.ttf') format('ttf');

} */



.homeContainer {
  font-family: sans-serif;
 margin: 0%;
 height: 100vh;
 background-image: url('./bg.png');
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: none;
}
.centerdiv{
  width: 90%;
  height: 75%;
  background: rgba(255, 255, 255, 0.48);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  overflow: auto; /* or overflow: scroll; */

}

.branddiv{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 12em; */
  overflow: auto; /* or overflow: scroll; */
}

.logindiv{
  display: flex;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 90%;
  border-radius: 15px;
  margin: 2em;
  flex-direction: column;
  overflow: auto; /* or overflow: scroll; */
  
}


.brandLogo {
  width: 100px; 
}

.urldiv{
  background-color: aliceblue;
  padding: 8px;
  border-radius: 20px;
  margin-top: 11em;

}

.inputField {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 70%;
}

.submitButton {
  padding: 10px 20px;
  background-color: #007bff; /* Blue color, change as needed */
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
  margin-top: 2em;
}




