/* Home.module.css */

@font-face {
  font-family: 'customFont';
  src: url('../public/font1/Variable-TT/Glancyr\ Variable-VF.ttf') format('ttf');
}

.homeContainer {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.centerdiv {
  width: 100%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.48);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.branddiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.otpdDiv {
  display: flex;
  align-items: center;
  background-color: white;
  width: 50%;
  border-radius: 15px;
  margin: 2em;
  flex-direction: column;
  padding: 2em;
  position: relative;
}

.brandLogo {
  width: 50px;
  height: 50px;
  margin-bottom: 1em;
}

.brandTitle {
  color: white;
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  text-align: center;
}

.brandSubtitle {
  color: white;
  font-weight: 300;
  font-size: 2em;
  margin: 0.5em 0;
  text-align: center;
}

.urldiv {
  background-color: aliceblue;
  padding: 8px;
  border-radius: 20px;
  margin-top: 2em;
  text-align: center;
}

.backButton {
  background: none;
  border: none;
  font-size: 1.5em;
  color: #0D285A;
  cursor: pointer;
  position: absolute;
  top: 1em;
  left: 1em;
}

.otpTitle {
  color: black;
  font-size: 1.2em;
  margin-top: 3em;
  font-weight: 500;
  text-align: center;
}

.otpInputContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.otpInput {
  width: 50px;
  height: 60px;
  margin: 0 10px;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.resendText {
  color: #8F8F8F;
  font-size: 1em;
  font-weight: 200;
  margin-top: 1em;
  text-align: center;
}

.resendLink {
  color: #0075FF;
  text-decoration: none;
  cursor: pointer;
}

.verifyButton {
  margin-top: 2em;
  padding: 10px 20px;
  background-color: #0075FF;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

.verifyButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .centerdiv {
    flex-direction: column;
  }

  .branddiv, .otpdDiv {
    width: 91%;
    margin: 0;
    padding: 1em;
  }

  .brandTitle {
    font-size: 2em;
  }

  .brandSubtitle {
    font-size: 1.5em;
  }

  .otpTitle {
    font-size: 1em;
    margin-top: 2em;
  }

  .otpInput {
    width: 40px;
    height: 50px;
    margin: 0 5px;
    font-size: 1em;
  }

  .verifyButton {
    max-width: 100%;
  }

  .backButton {
    top: 0.5em;
    left: 0.5em;
  }

  .urldiv {
    margin-top: 1em;
  }
}